#project_infos {
    position: fixed;
    height: 100vh;
    width: 33vw;
    background-color: #689793;
    z-index: 100;
    top: 0;
    left: 0;
  }

 .cat_link, .link_projects {
color:white;
font-family: Advent Pro, serif;

display:block;

width:85%;

padding:2%;
padding-left:4%;
left:15%;
 } 

 .cat_link{
     position:absolute;
    font-size:1.2em;
    letter-spacing: 0.4em;
    font-weight: 600;
    height: 5%;
 }

 li{
     height: fit-content;
 }

 .link_projects{
    font-size:1em; 
    font-weight: 600;
    width:85%;
height:fit-content;
padding:0%;
padding-left:4%;

 }

 #links_container{
     position:absolute;
     left:15%;
top: 70%;
width: 85%;
 }

 #link_frontend{
     top:8%;
     background-color: #44615e;
 }

 #link_digital{
     top:13%;
     background-color: #8ecece;
     
 }

 #link_print{
     top:18%;
     background-color: #6dccc2;
     
 }

 #link_visualID{
     top:23%;
     background-color: #4aa59a;
     
 }

 #link_videos{
     top:28%;
     background-color: #06443f;
     
 }

 .cat_desc{
     position:absolute;
     top: 40%;
     left:15%;
     width: 75%;
     height:fit-content;
     padding:2%;

font-size:1.2em;
 }

 .keywords{
     position:absolute;
     top: 60%;
     left:15%;
     width: 75%;
     height:fit-content;
     padding:2%;
     padding-left:0;
    color:white;
    border-bottom: solid 2px white;

 }


 .aboutSlides{
     width: 80vw;
     height: 84vh;
     display:inline-block;
    
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 5vw;
    position: sticky;
   
 }

 #about1{
     background-color: red;
    
    
 }

 #about2{
     background-color: yellow;
     
 }

 #skill_container, #desc_container{
    display: inline-block;
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 5vw;
    width: 80vw;
  height:84vh;
    /* position: sticky; */
   
 }



